<div class="left col l9 s6 m9 offset-s3 offset-l3 offset-m3">
    <div class="row card-panel purple lighten-3">
        {{pageTitle}}
    </div>
    <div class="card-panel transparent">
        <div class="row">
            <img src="./app/assets/images/logo.png" class="img-responsive center-block" />
        </div>
        <div class="row">
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Deborah Kurata</h3>

            <div class="text-center">@deborahkurata</div>
            <div class="text-center">
                <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
            </div>
        </div>
    </div>
</div>