
.oryx-title-bar {
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid #fff;
}

.oryx-logo-area {
   display: inline-block;
}

.oryx-title-area {
    display: inline-block;
}

.oryx-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px solid #FFF;
}

.oryx-logo-title {
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.oryx-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
}
/*
@media screen and (max-width: 430px) {
    .oryx-icon {
        display: none;
    }
    .oryx-logo-title {
        font-size: 18px;
    }
}

.oryx-right-side-controls {
    line-height: 60px;
}

.oryx-right-side-controls > div {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .oryx-right-side-controls > div {
        text-align: right;       
    }
    .oryx-logo-area {
        text-align: left;
    }
}

.oryx-collapsed-menu {
    display: inline-block;
    height: 100%;
}

.oryx-nav-button {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid #888;
    padding: 0;
    font-size: 26px;
    color: #777;
}

*/