<li><a materialize="dropdown" href="#! " data-activates='dropdown1'>
            Workflow<i class="material-icons right ">arrow_drop_down</i>
          </a>
</li>

<ul id='dropdown1' class='dropdown-content'>
                    <li><a [routerLink]="['/workflow/trigger']">Workflow Triggers</a></li>
                    <li><a [routerLink]="['/workflow/trigger']">Workflow States</a></li>
                    <li class="divider"></li>
                    <li><a [routerLink]="['/workflow/trigger']">Workflow</a></li>
</ul>
