


<li class="bold no-padding">
  <ul  materialize="collapsible" data-collapsible="accordion" id="slide-out1">
    <li class="bold">
      <a class="collapsible-header  waves-effect waves-purple">Workflow</a>      
      <div class="collapsible-body">
        <ul>
          <li><a [routerLink]="['/workflow/trigger']">Workflow Triggers</a></li>
          <li><a [routerLink]="['/workflow/trigger']">Workflow States</a></li>
          <li class="divider"></li>
          <li><a [routerLink]="['/workflow/trigger']">Workflow</a></li>
        </ul>
      </div>
    </li>
  </ul>
</li>
<!--<a materialize="collapsible" [materializeParams]="[{edge:'left', closeOnClick: true }]"  href="#" data-activates="slide-out1" class="button-collapse"><i class="mdi-navigation-menu"></i></a>-->
