


<md-sidenav-layout layout="row" fullscreen>
    <md-sidenav #menu class="app-menu" mode="side" [opened] = "true">
        <md-toolbar>
            <h3>ng2-material</h3>
        </md-toolbar>
        <md-list>
            <md-list-item>
                <md-icon class="md-avatar-icon" md-svg-icon="communication:phone"></md-icon>
                <span><a [routerLink]="['/home']" class = " ">Home</a></span>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-avatar-icon" md-svg-icon="communication:phone"></md-icon>
                <span><a *ngIf="!securityService.IsAuthorized" (click)="Login()">Login</a></span>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-avatar-icon" md-svg-icon="communication:phone"></md-icon>
                <span> <a *ngIf="securityService.IsAuthorized" (click)="Logout()">Logout</a></span>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-avatar-icon" md-svg-icon="communication:phone"></md-icon>
                <span><a [routerLink]="['/agents']" class = " ">Agents</a></span>
            </md-list-item>
    
        </md-list>
    </md-sidenav>

    <md-content #content>
        <!--
        <md-toolbar color="primary" class="hero">
            <h1 md-peekaboo breakAction="hide"></h1>
        </md-toolbar>
        -->
        <main layout="row" layout-align="center center">
            <md-content class="examples" md-scroll-y layout-padding>
                <router-outlet></router-outlet>
            </md-content>
        </main>
    </md-content>
</md-sidenav-layout>