<<<<<<< HEAD
.example-fill-remaining-space {
 
  flex: 1 1 auto;
}

span{
    padding: 5px
}
.search-results{
    margin: 0;
    border-top: 1px solid #e9e9e9;
    background-color: #514185;
}

=======
>>>>>>> 3d311eba091b1cec4ab447e6c7e9d44f1e592bed
nav .nav-wrapper {
     background-color: #514185;
    position: relative;
    height: 100%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3d311eba091b1cec4ab447e6c7e9d44f1e592bed
