.example-fill-remaining-space {
 
  flex: 1 1 auto;
}

span{
    padding: 5px
}
.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
     background-color: #514185;
    font-size: 1.6rem;
    line-height: 37px;
}
a {
    color: #514185;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #514185;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}
.collection .collection-item.avatar {
   min-height: 55px;
     padding-left: 0px; 
    position: relative;
}
.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
     padding: 0px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.switch label input[type=checkbox]:checked + .lever {
    background-color: #514185;

}