<div>
  <form #OryxForm="ngForm">
    <ul class="collection">
      <li class="collection-item avatar" *ngFor='let port of ports  | paginate: { itemsPerPage: 10, currentPage: page }; #i = index'>
      
        <div class="switch left" >
          <label>           
          <input type="checkbox" id="c_{{ i }}" checked="checked"  />
          <span class="lever"></span>           
          </label>
        </div>    
          <div style="float:left">
        <span class="title">{{port.name}}</span>
        <p>{{port.code}}
        </p>
        </div>  
        <a (click)="showForm(port.id)" class="secondary-content btn-floating btn-small waves-effect waves-light accent">
          <i class="material-icons">mode_edit</i>
        </a>
        
        
      </li>
    </ul>
  </form>
</div>