<div class="oryx-title-bar">
  <div class="row">
    <div class="oryx-logo-area col-sm-6" col-xs-12>
      <img src="app/assets/images/logo2.png" class="oryx-icon" />
      <div class="oryx-logo-area">
        <p class="oryx-logo-title">App Title</p>
        <p class="oryx-logo-subtitle">Oryx Framework</p>
      </div>
    </div>
    <div class="oryx-right-side-controls col-sm-6">
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="navigationLinkButton" *ngIf="!securityService.IsAuthorized" (click)="Login()">Login</a></li>
        <li><a class="navigationLinkButton" *ngIf="securityService.IsAuthorized" (click)="Logout()">Logout</a></li>
        <li class="active"><a [routerLink]="['/welcome']">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li><a href="#">IOU Application<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span>
          <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a [routerLink]="['/iou']">My IOU Requests<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
            
          </ul>
        </li>        
      </ul>      
    </div>
  </div>
</nav>
<div class="main">
    <!-- Content Here -->
    <router-outlet></router-outlet>
</div>