body{
  font-family: 'Roboto Condensed', sans-serif;
}

.demo-toolbar {
  padding: 6px;
}

.demo-toolbar-icon {
  padding: 6px;
  padding: 0 14px 0 14px;
}

.demo-fill-remaining {
  padding: 6px;
  flex: 1 1 auto;
}
ul
{
list-style-type: none;
}
.age
{
 /* font-family: Arial, Helvetica, sans-serif;*/
  font-size: 40;
  font-style: italic,bold;
  
}
.num{
font-family: fantasy;
font-size: 150px;
font-style: italic,bold;
color:white;

}

.topnav{
height:180px;
}
.app-menu{
    width: 180px;
    background-color: md-color(md-accent, 500);
}

img-responsive center-block{
 width:4px;
 height: 2px;
}
HTMLJSCSS
.toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }

  .toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

  .example-fill-remaining-space {
 
  flex: 1 1 auto;
}