<!--<div class='container'>

    <center>
        <h1>DASHBOARD</h1>
        <hr>
    </center>
    <div>
        <div style="width:400px;hight:60%;float:left;margin-right:30px;margin-left:30px;">
            <md-card style="background-color:yellow">
                <center>
                    <h2 class="age">AGENTS</h2>
                </center>
                <br/> <br/> <br/>
                <md-card-actions layout="row" layout-align="center end">
                    <h2 class="num">34</h2>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <a href=""> <button md-button class="md-icon-button" aria-label="Settings">
          <i class="material-icons">menu</i>
        </button></a>

                </md-card-actions>
            </md-card>


        </div>


        <div style="width:400px;hight:60%;float:left;margin-right:30px;">
            <md-card style="background-color:pink">
                <center>
                    <h2 class="age">INSPECTOR</h2>
                </center>
                <br/> <br/> <br/>
                <md-card-actions layout="row" layout-align="center end">
                    <h2 class="num">45</h2>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <a href=""><button md-button class="md-icon-button" aria-label="Settings" >
          <i class="material-icons">menu</i>
        </button></a>

                </md-card-actions>


            </md-card>


        </div>

        <div style="width:400px;hight:60%;float:left;">
            <md-card style="background-color:red">
                <center>
                    <h2 class="age">Vessel List</h2>
                </center>
                <br/> <br/> <br/>
                <md-card-actions layout="row" layout-align="center end">
                    <h2 class="num">45</h2>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <a href=""><button md-button class="md-icon-button" aria-label="Settings" >
          <i class="material-icons">menu</i>
        </button></a>

                </md-card-actions>


            </md-card>


        </div>
    </div>

    <div>
        <div style="width:400px;hight:60%;float:left;margin-right:30px;margin-left:30px;">
            <md-card style="background-color:orange">
                <center>
                    <h2 class="age">Berth List</h2>
                </center>
                <br/> <br/> <br/>
                <md-card-actions layout="row" layout-align="center end">
                    <h2 class="num">34</h2>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <a href=""> <button md-button class="md-icon-button" aria-label="Settings">
          <i class="material-icons">menu</i>
        </button></a>

                </md-card-actions>
            </md-card>


        </div>


        <div style="width:400px;hight:60%;float:left;margin-right:30px;">
            <md-card style="background-color:gray">
                <center>
                    <h2 class="age">Port List</h2>
                </center>
                <br/> <br/> <br/>
                <md-card-actions layout="row" layout-align="center end">
                    <h2 class="num">45</h2>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <a href=""><button md-button class="md-icon-button" aria-label="Settings" >
          <i class="material-icons">menu</i>
        </button></a>

                </md-card-actions>


            </md-card>

        </div>
    </div>

    <div class="row">
        <div class="text-center">Developed by:</div>
        <h3 class="text-center">Oryx Dev Team</h3>

        <div class="text-center">@deborahkurata</div>
        <div class="text-center">
            <a href="http://www.oryx-wa.com">www.oryx-wa.com</a>
        </div>
    </div>
</div>-->

<div class="row">
  <div class="col-md-6">
    <base-chart class="chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColours"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></base-chart>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px;">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels"></th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index"></td>
      </tr>
     
    </table>
   
  </div>
</div>

	<!--<div class="wrapper">
    <css-carousel></css-carousel>
    </div>-->

