body {
    background-color: white;
    font-family: "Open Sans", Arial, sans-serif;
}

.container-fluid {
    padding: 0;
}

.sign-in-form {
    padding: 80px;
}

li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}