 

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                 <div class='row'>
                    <div class='col-md-3'>Id:</div>
                    <div class='col-md-6 pull-right'>{{mciform.id}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>MciNumber:</div>
                    <div class='col-md-6 pull-right'>{{mciform.mciNumber}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Port:</div>
                    <div class='col-md-6 pull-right'>{{mciform.port}}</div>
                </div>          
                <div class='row'>
                    <div class='col-md-3'>VesselName:</div>
                    <div class='col-md-6 pull-right'>{{mciform.vesselName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>GrossTonnage:</div>
                    <div class='col-md-6 pull-right'>{{mciform.grossTonnage}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>cargoTonnage:</div>
                    <div class='col-md-6 pull-right'>{{mciform.cargoTonnage}}</div>
                </div>          
                <div class='row'>
                    <div class='col-md-3'>Agent:</div>
                    <div class='col-md-6 pull-right'>{{mciform.agent}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>DateInspected:</div>
                    <div class='col-md-6 pull-right'>{{mciform.dateInspected}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>WasteCollectionNoteYear:</div>
                    <div class='col-md-6 pull-right'>{{mciform.wasteCollectionNoteYear}}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>WasteCollectionNoteNo: </div>
                    <div class='col-md-6 pull-right'>{{mciform.wasteCollectionNoteNo}}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>WasteTransferNoteOil:</div>
                    <div class='col-md-6 pull-right'>{{mciform.wasteTransferNoteOil}}</div>
                </div>                
                <div class='row'>
                    <div class='col-md-3'>WasteTransferNoteGarbage:</div>
                    <div class='col-md-6 pull-right'>{{mciform.wasteTransferNoteGarbage}}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>Waste:</div>
                    <div class='col-md-6 pull-right'>{{mciform.waste}}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>Type:</div>
                    <div class='col-md-6 pull-right'>{{mciform.type}}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>Archive:</div>
                    <div class='col-md-6 pull-right'>{{mciform.archive}}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>Nextwtnno:</div>
                    <div class='col-md-6 pull-right'>{{mciform.nextwtnno}}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>Inspector:</div>
                    <div class='col-md-6 pull-right'>{{mciform.inspector}}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>MissingReason :</div>
                    <div class='col-md-6 pull-right'>{{mciform.missingReason }}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>Notes:</div>
                    <div class='col-md-6 pull-right'>{{mciform.notes}}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>GarbageQty:</div>
                    <div class='col-md-6 pull-right'>{{mciform.garbageQty}}</div>
                </div>      
                <div class='row'>
                    <div class='col-md-3'>OilQty:</div>
                    <div class='col-md-6 pull-right'>{{mciform.oilQty}}</div>
                </div>      
                  
            </div>  
            <div class='col-md-6'></div>         
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
   
</div>