<div layout="column" style="height:600px">

  <app-oryx-toolbar [title]="title" [showVert]="showVert" [showSearch]="showSearch" [showAdd]="showAdd"
    (GridOrCard)="changeDisplayMode($event)" [showCardorGrid]= "showCardorGrid" [displayMode]="displayModeEnum.Grid"> 
    </app-oryx-toolbar>

  <app-mciforms-list *ngIf="displayMode == displayModeEnum.Grid" [mciforms]="mciforms"  ></app-mciforms-list>

  <app-mciforms-card *ngIf="displayMode == displayModeEnum.Card" [mciforms]="mciforms" ></app-mciforms-card>

  <app-mciforms-create *ngIf="displayMode == displayModeEnum.Create" [ports]= "ports" ></app-mciforms-create>

</div>