<nav>
      <div class="nav-wrapper  deep-purple darken-1">
        <a href="#!" class="nav-wrapper">{{ title }}</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><a (click)="changeDisplayMode(displayModeEnum.Card)" [class.active]="displayMode === displayModeEnum.Card">Card View</a></li>
          <li><a (click)="changeDisplayMode(displayModeEnum.Grid)" [class.active]="displayMode === displayModeEnum.Grid">List View</a></li>
          <li><a href="" [routerLink]="['iou',-1, 'form']" >New IOU</a></li>
        </ul> 
        <ul class="side-nav" id="mobile-demo">
           <li><a (click)="changeDisplayMode(displayModeEnum.Card)" [class.active]="displayMode === displayModeEnum.Card">Card View</a></li>
          <li><a (click)="changeDisplayMode(displayModeEnum.Grid)" [class.active]="displayMode === displayModeEnum.Grid">List View</a></li>
          <li><a href="" [routerLink]="['iou',-1, 'form']" >New IOU</a></li>
        </ul>       
      </div>
    </nav>

<div>
        <ious-grid 
          [iouHeaders]="iouHeaders" 
          [hidden]="displayMode !== displayModeEnum.Grid"></ious-grid>
        
        <ious-card
          [iouHeaders]="iouHeaders" 
          [hidden]="displayMode !== displayModeEnum.Card"></ious-card>
   
</div>
