<!--
<div>
  <form *ngIf="formActive" #OryxForm="ngForm">
    <table class="striped" style="width: 100%" cellspacing="0">
      <tr>
        <td>
          <input type="text" class="" placeholder="agent name" style="width: 100%" [(ngModel)]="agent.name" name="id" #id="ngModel"
          />
          <button (click)="saveData()" class="wave-effect waves-light btn">Save</button>
        </td>
      </tr>
    </table>
  </form>

  <table materialize class='responsive-table highlight bordered' *ngIf='agents && agents.length'>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let agent of agents | paginate: { itemsPerPage: 10, currentPage: page } '>
        <td>
          <a [routerLink]="['/agent/details',agent.id]">
                                {{agent.code}}
                            </a>
        </td>

        <td>{{agent.name}}</td>
        <td>
          <a (click)="showForm(agent.id)" class="btn-floating btn-small waves-effect waves-light accent">
            <i class="material-icons">mode_edit</i>
          </a>
        </td>

        <td><a [routerLink]="['/agentEdit',agent.id]">Edit</a></td>
      </tr>
    </tbody>
  </table>

</div>

-->
<div>
  <form #OryxForm="ngForm">
    <ul class="collection">
      <li class="collection-item avatar" *ngFor='let agent of agents  | paginate: { itemsPerPage: 10, currentPage: page }; #i = index'>
      
        <div class="switch left" >
          <label>           
          <input type="checkbox" id="c_{{ i }}" checked="checked"  />
          <span class="lever"></span>           
          </label>
        </div>    
          <div style="float:left">
        <span class="title"><label >Name:</label>{{agent.name}}</span>
        <p><label >Code:</label>{{agent.code}}
        </p>
        </div>  
        <a (click)="showForm(agent.id)" class="secondary-content btn-floating btn-small waves-effect waves-light accent">
          <i class="material-icons">mode_edit</i>
        </a>
        
        
      </li>
    </ul>
  </form>
</div>



<div class="is-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>