
<div>
  <table materialize class='responsive-table striped' *ngIf='agents && agents.length'>
    <thead>
      <tr>
        
        <th>Code</th>
        <th>Name</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let agent of agents | paginate: { itemsPerPage: 10, currentPage: page } '>
        <td>
          <a [routerLink]="['/agent/details',agent.id]">
                                {{agent.code}}
                            </a>
        </td>
       
        <td>{{ agent.name }}</td>
        <td><a [routerLink]="['/agentDetails',agent.id]">Details</a></td>
        <td><a [routerLink]="['/agentEdit',agent.id]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="is-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>