<div layout="column" style="height:600px">

  <app-oryx-toolbar [title]="title" [showVert]="showVert" [showSearch]="showSearch" [showAdd]="showAdd"
    (GridOrCard)="changeDisplayMode($event)" [showCardorGrid]= "showCardorGrid" [displayMode]="displayModeEnum.Grid" (onSearch)="onSearch($event)"> 
    </app-oryx-toolbar>

  <app-inspectors-list *ngIf="displayMode == displayModeEnum.Grid" [inspectors]="inspectors"  ></app-inspectors-list>

  <app-inspectors-card *ngIf="displayMode == displayModeEnum.Card" [inspectors]="inspectors" ></app-inspectors-card>

    <app-inspectors-create *ngIf="displayMode == displayModeEnum.Create" [inspector]="inspector" ></app-inspectors-create>


</div>