<div class="container">
  <div [hidden]="submitted">
    <h1>Agent Form</h1>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #agentForm="ngForm">


      <div class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" [(ngModel)]="model.id" ngControl="id" #id="ngForm">
        <!--{{agent.id}}-->
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" required [(ngModel)]="model.name" ngControl="name" #name="ngForm">
        <!--{{agent.name}}-->
      </div>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>


      <div class="form-group">
        <label for="code">Code</label>
        <input type="text" class="form-control" required [(ngModel)]="model.code" ngControl="code" #code="ngForm">

        <div [hidden]="code.valid || code.pristine" class="alert alert-danger">
          Code is required
        </div>
      </div>


      <button type="submit" class="btn btn-primary glyphicon glyphicon-ok" [disabled]="!agentForm.form.valid">Submit</button>

    </form>
  </div>


  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">ID</div>
      <div class="col-xs-9 pull-left">{{ model.id }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Code</div>
      <div class="col-xs-9 pull-left">{{ model.code }}</div>
    </div>

    <br>
    <button class="btn btn-primary glyphicon glyphicon-edit" (click)="submitted=false">Edit</button>
    <button type="submit" class="btn btn-primary  glyphicon glyphicon-save" (click)="onSave()">Save</button>
    <!--  <a [routerLink]="['/agents']" (click) = "submitted=true" class="btn  btn-primary glyphicon glyphicon-saved" > Save </a> -->
  </div>
</div>