<div class="row ">
  <form #OryxForm="ngForm">

    <div class="col s12 m3 l4" *ngFor='let berth of berths  | paginate: { itemsPerPage: 10, currentPage: page }; #i = index' style="float:left">
      <div class="card">
      <div class="card-stacked">
      <div class="card-content">
       
        <div >
         <span class="title"> <label >Name: </label>{{berth.name}}</span>
         
          
        </div>
        <div>
        <span><label >Code: </label>{{berth.code}}
          </span>
        </div>
  
      </div>
     
    </div>
     <div class="card-action">
    
      <a href="#">Edit</a>
      
        

       <div class="switch " style="float:right;">
  <label>
            
          <input type="checkbox" id="c_{{ i }}" checked="checked"  />
          <span class="lever"></span>           
        
          </label>

       </div>
     </div>
</div>
</div>
  </form>
</div>
<div class="is-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>