<div class='panel panel-primary' *ngIf='inspector'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + inspector.Name }}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                 <div class='row'>
                    <div class='col-md-3'>Id:</div>
                    <div class='col-md-6'>{{inspector.Id}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Code:</div>
                    <div class='col-md-6'>{{inspector.Code}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'>{{inspector.Name}}</div>
                </div>        
                <div class='row'>
                    <div class='col-md-3'>Current:</div>
                    <div class='col-md-6'>{{inspector.Current}}</div>
                </div>              
            </div>  
            <div class='col-md-6'></div>         
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>